# Dependencies
node_modules/

# Next.js
.next/
.next/cache/
out/

# Builds
build/
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log



# Editor/OS
.DS_Store
.idea/
.vscode/
*.swp

# Tools/Caches
.eslintcache
.turbo/
.vercel/

# Misc
*.tgz
